In [91]:
import sqlite3
import pandas as pd
import numpy as np

In [92]:
conn=sqlite3.connect('posts.db')

In [93]:
df=pd.read_sql_query('select * from info',con=conn)
df['option']=df['option'].apply(eval)
df=pd.concat([df.drop(['option'],axis=1),pd.io.json.json_normalize(df['option'])],axis=1)
df.columns=['id','post_id','tite','description','price','create_time','location','elevator','storage','rooms','age','ppm','meter','type','parking']

In [94]:
df=df.dropna()

In [95]:
df.price

2         3,200,000,000 تومان
3         2,950,000,000 تومان
4         2,850,000,000 تومان
5             3,900,000 تومان
6         2,900,000,000 تومان
7         3,370,000,000 تومان
8         2,650,000,000 تومان
9        12,100,000,000 تومان
10        2,856,600,000 تومان
11        2,550,000,000 تومان
12        3,256,000,000 تومان
13        2,940,000,000 تومان
14        2,690,000,000 تومان
15        2,850,000,000 تومان
16        7,000,000,000 تومان
17                قیمت توافقی
18       12,650,000,000 تومان
19       18,000,000,000 تومان
20       12,000,000,000 تومان
21       14,950,000,000 تومان
22       16,200,000,000 تومان
23        1,800,000,000 تومان
24        3,880,000,000 تومان
25        2,800,000,000 تومان
26       38,000,000,000 تومان
27        2,820,000,000 تومان
28        3,880,000,000 تومان
29        3,750,000,000 تومان
30        3,880,000,000 تومان
31        3,300,000,000 تومان
                 ...
13327    10,800,000,000 تومان
13328     1,250,000,000 تومان
13329     3,700,000,000 تومان
13330     4,000,000,000 تومان
13331     1,900,000,000 تومان
13332     3,400,000,000 تومان
13333     7,600,000,000 تومان
13334     1,560,000,000 تومان
13335     4,500,000,000 تومان
13336    12,000,000,000 تومان
13337     8,200,000,000 تومان
13338     6,160,000,000 تومان
13339             قیمت توافقی
13340     1,500,000,000 تومان
13341     2,500,000,000 تومان
13342     1,580,000,000 تومان
13343             قیمت توافقی
13344     4,700,000,000 تومان
13345     4,700,000,000 تومان
13346             قیمت توافقی
13347     1,680,000,000 تومان
13348    13,500,000,000 تومان
13349    19,750,000,000 تومان
13350     6,000,000,000 تومان
13351     6,950,000,000 تومان
13352     7,600,000,000 تومان
13353    10,000,000,000 تومان
13354    11,000,000,000 تومان
13355     2,900,000,000 تومان
13356     7,900,000,000 تومان
Name: price, Length: 13329, dtype: object

In [96]:
df['price']=df['price'].str.replace("تومان","")
df['price']=df['price'].str.replace(",","")

In [97]:
df.price

2         3200000000
3         2950000000
4         2850000000
5            3900000
6         2900000000
7         3370000000
8         2650000000
9        12100000000
10        2856600000
11        2550000000
12        3256000000
13        2940000000
14        2690000000
15        2850000000
16        7000000000
17        قیمت توافقی
18       12650000000
19       18000000000
20       12000000000
21       14950000000
22       16200000000
23        1800000000
24        3880000000
25        2800000000
26       38000000000
27        2820000000
28        3880000000
29        3750000000
30        3880000000
31        3300000000
             ...
13327    10800000000
13328     1250000000
13329     3700000000
13330     4000000000
13331     1900000000
13332     3400000000
13333     7600000000
13334     1560000000
13335     4500000000
13336    12000000000
13337     8200000000
13338     6160000000
13339     قیمت توافقی
13340     1500000000
13341     2500000000
13342     1580000000
13343     قیمت توافقی
13344     4700000000
13345     4700000000
13346     قیمت توافقی
13347     1680000000
13348    13500000000
13349    19750000000
13350     6000000000
13351     6950000000
13352     7600000000
13353    10000000000
13354    11000000000
13355     2900000000
13356     7900000000
Name: price, Length: 13329, dtype: object

In [98]:
df['meter']=df['meter'].str.replace(',','')
df['meter']=df['meter'].astype('int64')

In [99]:
df['ppm']=df['ppm'].str.replace(',','')
df['ppm']=df['ppm'].astype('int64')

In [100]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13329 entries, 2 to 13356
Data columns (total 15 columns):
id             13329 non-null int64
post_id        13329 non-null int64
tite           13329 non-null object
description    13329 non-null object
price          13329 non-null object
create_time    13329 non-null object
location       13329 non-null object
elevator       13329 non-null object
storage        13329 non-null object
rooms          13329 non-null object
age            13329 non-null object
ppm            13329 non-null int64
meter          13329 non-null int64
type           13329 non-null object
parking        13329 non-null object
dtypes: int64(4), object(11)
memory usage: 1.6+ MB

In [101]:
df.dtypes

id              int64
post_id         int64
tite           object
description    object
price          object
create_time    object
location       object
elevator       object
storage        object
rooms          object
age            object
ppm             int64
meter           int64
type           object
parking        object
dtype: object

In [106]:
df['price']=np.where(df['price']=='قیمت توافقی',df['meter']*df['ppm'],df['price'])
df['price']=df['price'].astype('float')

In [107]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13329 entries, 2 to 13356
Data columns (total 15 columns):
id             13329 non-null int64
post_id        13329 non-null int64
tite           13329 non-null object
description    13329 non-null object
price          13329 non-null float64
create_time    13329 non-null object
location       13329 non-null object
elevator       13329 non-null object
storage        13329 non-null object
rooms          13329 non-null object
age            13329 non-null object
ppm            13329 non-null int64
meter          13329 non-null int64
type           13329 non-null object
parking        13329 non-null object
dtypes: float64(1), int64(4), object(10)
memory usage: 1.6+ MB

In [104]:
# code ha ta inja baraye soton price bood